body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Conteúdo principal */
main {
    padding: 20px;
}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.galeria {
    margin-bottom: 20px;
}

.galeria img {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
}

.galeria h3 {
    margin-top: 0;
}

/* Seções */
section {
    margin-bottom: 40px;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 40px 0;
}

/* Anúncios */
aside {
    background-color: #e2e2e2;
    padding: 20px;
    margin: 20px 0;
}

aside h3 {
    margin-top: 0;
}

/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

  header nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

header nav a:hover {
    color: #e60707;
    text-decoration: underline;
}

.galeria img {
    margin: 10px;
    border: 2px solid #828283;
    width: 200px;
    height: 150px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.galeria img:hover {
    transform: scale(1.1);
}

#midias {
    margin: 10px;
    text-align: center;
}

#midias video,
#midias audio {
    display: block;
    margin: 10px auto;
}

/* compensar o header ao rolar ate as seçoes */
section {
    scroll-margin-top: 120px;
}

#mapa {
    margin: 10px;
    margin-top: 60px;
}

.table-preco {
    width: 100%;
    border-collapse: collapse;
}

.table-preco th,
.table-preco td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}